In [10]:
from collections import defaultdict

import pandas as pd

import statbotics

sb = statbotics.Statbotics()

In [5]:
pd.DataFrame(sb.get_team_years(year=2023, metric="epa_diff", limit=10, fields=["team", "name", "epa_start", "epa_end", "epa_diff", "total_epa_rank"]))

   team                name  epa_start  epa_end  epa_diff  total_epa_rank
0   581    Blazing Bulldogs      21.25    64.45     43.20              23
1  3005        RoboChargers      31.94    73.15     41.21               5
2  1591   Greece Gladiators      22.79    63.73     40.94              27
3  7890            SeQuEnCe      23.28    61.95     38.67              37
4  1727                 REX      23.08    61.18     38.10              43
5  4255           Robodores      26.45    64.54     38.09              22
6   930     Mukwonago BEARs      29.71    67.01     37.30              12
7  6036  Peninsula Robotics      32.08    69.30     37.22              10
8  6672        Fusion Corps      30.81    67.26     36.45              11
9  9312          NERD Spark      17.56    52.94     35.38             157

In [4]:
team_events_df = pd.DataFrame(sb.get_team_events(year=2023, limit=10000))

In [11]:
teams = defaultdict(list)

for _, r in team_events_df.sort_values(by="week").iterrows():
    teams[r.team].extend([r.epa_start, r.epa_end])

In [17]:
epa_diff = {t: teams[t][-1] - teams[t][1] for t in teams}

for t, diff in sorted(epa_diff.items(), key=lambda x: -x[1])[:10]:
    print(t, "\t", round(diff, 2))

5715 	 32.06
59 	 31.62
1622 	 30.03
4270 	 29.86
1778 	 29.85
2587 	 29.23
2687 	 28.82
3630 	 28.29
8516 	 27.91
3604 	 27.8